.label {
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: $main-color;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    &::before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        background: url(../img/icons/sqaure.svg) center center/contain no-repeat;
    }
}