.promo {
    width: 100%;
    transition: .5s all;

    &__container {
        width: 87.5%;
        min-height: 603px;
        margin: 0 auto;
        padding: 89px 0 66px 0;
        border-top: 1px solid $main-color;
        border-bottom: 1px solid $main-color;
        position: relative;
    }

    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        color: $main-color;
        position: absolute;
        span {
            font-style: italic;
            font-weight: 300;
        }
        &_1 {
            width: 253px;
        }
        &_2 {
            width: 320px;
            top: 100px;
            right: 76px;
        }
    }

    &__wrapper {
        width: 1111px;
        float: right;
    }

    &__bigtext {
        font-weight: 400;
        font-size: 154px;
        line-height: 100%;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: $main-color;
        &:not(.promo__bigtext:first-child) {
            float: right;
        }
    }

    &__btn {
        position: absolute;
        bottom: 74px;
        padding: 16px 18px;
    }
}

@media (max-width: 1600px) {
    .promo {
        &__wrapper {
            width: 75%;
        }

        &__bigtext {
            font-size: 130px;
        }
    }
}

@media (max-width: 1439px) {
    .promo {
        &__container {
            min-height: 490px;
        }

        &__bigtext {
            font-size: 110px;
        }

        &__text {
            &_2 {
                right: 5%;
            }
        }
        
        &__wrapper {
            overflow: hidden;
        }
    }
}

@media (max-width: 1279px) {
    .promo {
        &__container {
            padding: 40px 0;
        }

        &__wrapper {
            float: initial;
            width: 90%;
            margin-top: 20px;
        }

        &__bigtext {
            font-size: 80px;
            &:not(.promo__bigtext:first-child) {
                float: initial;
            }
        }

        &__text {
            width: 276px;
            font-size: 18px;
            right: 5%;
            &_1 {
                bottom: 74px;
            }
            &_2 {
                top: initial;
            }
        }
    }
}

@media (max-width: 960px) {
    .promo {
        &__text {
            right: -5%;
        }
    }
}

@media (max-width: 768px) {
    .promo {
        &__wrapper {
            margin: 0 auto;
            margin-bottom: 100px;
        }

        &__bigtext {
            font-size: 66px;
            text-align: center;
        }

        &__text {
            width: 208px;
            font-size: 16px;
            bottom: 115px;
            &_1 {
                left: 0;
            }
            &_2 {
                bottom: 104px;
            }
        }

        &__btn {
            left: 50%;
            bottom: 20px;
            transform: translateX(-50%);
        }
    }
}

@media (max-width: 480px) {
    .promo {
        &__bigtext {
            font-size: 45px;
        }

        &__text {
            &_1 {
                bottom: 195px;                
            }
        }
    }
}