.process {
    background: #f5f5f5;
    
    &__container {
        width: 87.5%;
        margin: 0 auto;
        padding: 120px 0;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &__label {
        &::before {
            background: url(../img/icons/star2.svg) center center/contain no-repeat;
        }
    }

    &__wrapper {
        width: 70rem;
        display: inline-flex;
        flex-direction: column;
        gap: 4rem;
        overflow: hidden;
    }

    &__item {
        width: 100%;
        padding-bottom: 48px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        border-bottom: 1px solid $main-color;
    }

    &__content {
        width: 887px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__number {
        font-size: 24px;
        line-height: 140%;
        color: #ff3c00;
    }

    &__subtitle {
        font-size: 24px;
        line-height: 140%;
        color: $main-color;
    }

    &__title {
        font-size: 48px;
        line-height: 120%;
        color: $main-color;
    }

    &__text {
        border-radius: 8px;
        padding: 32px;
        background: #f0f0f0;
        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    &__descr {
        font-size: 24px;
        line-height: 140%;
        color: $main-color;
    }

    &__info {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background: $main-color;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        span {
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background: #fff;
        }
    }
}

@media (max-width: 1439px) {
    .process {
        &__container {
            padding: 60px 0;
        }
        &__label {
            display: none;
        }
    }
}

@media (max-width: 1279px) {
    .process {
        &__container {
            width: 100%;
            justify-content: center;
        }
        &__wrapper {
            width: 95%;
        }
    }
}

@media (max-width: 960px) {
    .process {
        &__item {
            gap: 20px;
            flex-direction: column;
        }

        &__content {
            width: 100%;
        }

        &__info {
            display: none;
        }

        &__title {
            font-size: 46px;
            margin-left: 32px;
        }

        &__descr {
            font-size: 22px;
        }
    }
}

@media (max-width: 768px) {
    .process {
        &__title {
            font-size: 35px;
        }

        &__descr {
            font-size: 18px;
        }
    }
}

@media (max-width: 480px) {
    .process {
        &__item {
            align-items: center;
        }
        &__subtitle {
            text-align: center;
        }
        &__title {
            font-size: 25px;
        }
        &__descr {
            font-size: 15px;
        }
    }
}