.services {
    display: flex;
    background: #f5f5f5;

    &__item {
        width: 640px;
        height: 832px;
        padding: 64px 32px;
        border-bottom: 1px solid $main-color;
        border-top: 1px solid $main-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        &:first-child {
            border-right: 1px solid $main-color;
        }
        &:last-child {
            border-left: 1px solid $main-color;
        }
        &:hover {
            .services__img {
                transform: scale(.9);
                &_back {
                    transform: rotate(-15deg);
                }
            }
            .services__btn {
                pointer-events: none;
                @include btn-hover();
            }
        }
    }

    &__subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: $main-color;
    }

    &__title {
        font-weight: 400;
        font-size: 60px;
        line-height: 120%;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        text-align: center;
        color: $main-color;
    }

    &__img-block {
        width: 360px;
        height: 240px;
        position: relative;
    }

    &__img {
        border-radius: 8px;
        transition: .35s all cubic-bezier(0.25, 0.1, 0.25, 1.15);
        position: relative;
        z-index: 10;
        &_back {
            border-radius: 8px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            transition: .35s all cubic-bezier(0.25, 0.1, 0.25, 1.15);
        }
    }
}